_deps
.qt
CMakeFiles
cmake-build-*
*.o
*.obj
*.exe
*.log
*.user
*.pro.user
*.autosave
*.swp
.DS_Store
.vscode
.idea
cmake_install.cmake
Makefile
CMakeCache.txt
.ninja_*
bin/
obj/
out/
.vs/
build/
__pycache__/
*.pyc
*.pyo
*.pyd
*.class
*.jar
*.war
target/
dist/
node_modules/
.env
.cmake
*.dll
*.so
*.dylib
*.lib
*.ninja
*.a